<div id="main">
  <div id="body">
    <div id="header">
      <div class="header-content">
        <div id="header-title">
          <span style="margin-right: 10px">{{formMode.slice(0, 1)+formMode.slice(1).toLowerCase()}} Customer</span>
        </div>
        <div>
        </div>
      </div>
      <div>
      </div>
    </div>
    <div>
      <!--      <app-progress-spinner #component [mode]="'TABLE'"></app-progress-spinner>-->
      <form  [formGroup]="customerDetailsForm">
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Shop Name</mat-label>
            <input formControlName="shopName" matInput placeholder="Type Hear...">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Shop Owner Name</mat-label>
            <input formControlName="shopOwnerName" matInput placeholder="Type Hear...">
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Nic</mat-label>
            <input formControlName="nic" matInput placeholder="Type Hear...">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contact No</mat-label>
            <input formControlName="contactNo" matInput placeholder="Type Hear...">
          </mat-form-field>
        </div>

      </form>
      <div class="form-btn-row">
        <button (click)="clear()" *ngIf="formMode==='CREATE'" color="warn" mat-raised-button type="reset">Clear</button>
        <button (click)="Cancel()" color="warn" *ngIf="formMode==='UPDATE'" mat-raised-button type="reset">Cancel</button>
        <button (click)="onAction()" *ngIf="!apiResponse && formMode==='CREATE'" color="primary" mat-raised-button type="submit">Create</button>
        <button (click)="onAction()" *ngIf="!apiResponse && formMode==='UPDATE'" color="primary"  mat-raised-button type="submit">Update</button>
        <button *ngIf="apiResponse" color="primary" mat-button>
          <mat-spinner diameter="20"></mat-spinner>
        </button>
      </div>
    </div>
  </div>
</div>
