.parent {
  height: auto;
  width: 100%;
  padding-top: 20px;
  span{
    font-size: 2rem;
    font-weight: bold;
  }
}
.row1{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
  div{
    width: 28%;
  }
}

.row2{
  //height: 25%;
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
  div{
    width: 63%;
    height: auto;
  }
}


.div1 {
  background-color: #fa8779;

}

.div2 {
  background-color: #61d1cb;
}

.div3 {
  background-color: #71e3a8;
}

.div4 {
  background-color: #c85bc5;
}


.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px 10px;
  border-radius: 5px;
  color: white;
  //background-color: #f4f4f4;
}
